@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Prompt', sans-serif;
}

::-webkit-scrollbar{
	width: 8px;
    
}

::-webkit-scrollbar-track-piece{
	background-color: rgba(255, 255, 255, 0.137);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
	background-color: #ffffff73;
    border-radius: 10px;
}